<!-- Inheriting from the base template -->
{% extends 'blog/base.html' %}
    {% block content %} 
        <h1> About This Website </h1>
        <h3>Happy to see you here.
Thankyou for choosing this platform to post your blogs. I will continue to add more functionalities to the website. You can create, update, delete and read posts.
This website is my first website and I plan to make of them. I am happy to create something.
You can mail me your suggestions at sathyam.ece17@nituk.ac.in</h3>
    {% endblock content %}