<!-- Inheriting from the base template -->
{% extends 'blog/base.html' %}
    {% block content %}
            <article class="media content-section">
            <!-- Displaying the Rounded image beside the post -->
            <img class="rounded-circle article-img" src = "{{ post.writer.profile.image.url }}">
              <div class="media-body">
                <div class="article-metadata">
                  <!-- 'post.writer.username' and 'post.writer' will work same-->
                  <a class="mr-2" href="{% url 'user_posts' post.writer %}">{{ post.writer }}</a>
                  <small class="text-muted">{{ post.date_published|date:"F d, Y" }}</small>
                  {% if post.writer == user %}
                    <div>
                      <a class="btn btn-outline-info btn-sm mt-1 mb-1" href="{% url 'post_update' post.id %}"> Update </a>
                      <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post_delete' post.id %}"> Delete </a>
                    </div>
                  {% endif %}
                </div>
                <h2 class="article-title">{{ post.title }}</h2>
                <p class="article-content">{{ post.content }}</p>
              </div>
            </article>
    <!-- we can also do with just- ""endblock"" too but it is intuitive to specify -->
    {% endblock content %}
    