<!-- Inheriting from the base template -->
{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
    {% block content %} 
        <!-- Always have to put a CSRF token-->
        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="from-group">
                    <legend class="border-bottom mb-4"> Reset Password </legend>
                        {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Request Password Reset </button>
                </div>
            </form>
        </div>
        
    {% endblock content %}