<!-- Inheriting from the base template -->
{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
    {% block content %} 
        <!-- Django always provide this 'user' object for current logged in user -->
        <div class="content-section">
          <div class="media">
            <!-- We need to make changes in urls.py of root directory to incorporate media files -->
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            <div class="media-body">
              <h2 class="account-heading">{{ user.username }}</h2>
              <p class="text-secondary">{{ user.email }}</p>
            </div>
          </div>
          <!-- FORM HERE -->
          <!-- "multipart/form-data" is necessary for you to do to pass image information properly -->
          <form method="POST" enctype = "multipart/form-data">
              {% csrf_token %}
              <fieldset class="from-group">
                  <legend class="border-bottom mb-4"> Update Information </legend>
                  <!-- We had two forms so used the two form tags to display below one another -->
                  {{ u_form|crispy }}
                  {{ p_form|crispy }}
              </fieldset>
              <div class="form-group">
                  <button class="btn btn-outline-info" type="submit"> Update </button>
              </div>
          </form>
        </div>
            
    {% endblock content %}